body {
    font-family: 'Lato', sans-serif;
   
}
#main-box {
    margin: 25px auto;
    width: 50%;
    background-color: #f3f2f2;
    padding: 30px;

}

.navbar-brand {
    text-transform: uppercase;
    margin-left: 25px;
    font-weight: 700;
}
#branded {
    color: #f39c12;
}
.branding {
    margin-right: 5px;
    color: #f39c12;
    border: 1px solid #f1c40f;
    background-color: #f1c40f;
    border-radius: 50%;
    padding: 5px 10px;
}

.generator {
    margin-top: 35px;
    height: 80vh;
}

.btn {
    float: right;
}

#leading-text {
    text-align: center;
}

input {
    background-color: transparent;
    height: 35px;
    border: none;
    border-bottom: 1px solid #e7e7e7;
    width: 100%;
}

#options {
    margin-top: 15px;
}
button {
    color: #fff !important;
}