body {
    font-family: 'Lato', sans-serif;
   
}
#main-box {
    margin: 25px auto;
    width: 50%;
    background-color: #f3f2f2;
    padding: 20px;

}

.navbar-brand {
    text-transform: uppercase;
    margin-left: 25px;
    font-weight: 700;
}
#branded {
    color: #f39c12;
}
i {
    margin-right: 5px;
    color: #f39c12;
    border: 1px solid #f1c40f;
    background-color: #f1c40f;
    border-radius: 50%;
    padding: 5px 10px;
}

.generator {
    margin-top: 35px;
    height: 80vh;
}

.btn {
    float: right;
}

.generator h2 {
    text-align: center;
}