body {
    font-family: 'Lato', sans-serif;
    background-color: #ffffe696;
   
}
#main-box {
    margin: 25px auto;
    width: 50%;
    background-color: #f3f2f2be;
    padding: 30px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 10px;

}

.navbar-brand {
    text-transform: uppercase;
    margin-left: 25px;
    font-weight: 700;
}
#branded {
    color: #f39c12;
}
.branding {
    margin-right: 5px;
    color: #f39c12;
    border: 1px solid #f1c40f;
    background-color: #f1c40f;
    border-radius: 50%;
    padding: 5px 10px;
}

.generator {
    margin-top: 35px;
    height: 80vh;
}

#leading-text {
    text-align: center;
}

#inputBox {
    background-color: transparent;
    height: 35px;
    border: none;
    border-bottom: 1px solid #e7e7e7;
    width: 100%;
    text-align: center;
    font-size: 17px;
}

#button-controls {
    margin-top: 15px;
    text-align: center;
}

#options {
    margin-top: 15px;
}
button {
    color: #fff !important;
}

#numInput {
    background-color: transparent;
    border: none;
}

.dangerous-hidden {
    visibility: hidden;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button {  

   opacity: 1;

}

@media screen and (max-width: 768px) {
    .generator {
        width: 100vw;
    }

    #main-box {
        width: 100%;
    }
}